
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    
}

.container{
    min-height: 100vh; 
    max-width: 100%;
    background-color:#ffffffda;
    justify-content: space-evenly;
    /* padding: 0 50px 0 50px; */
    border-radius: 20px;  

}

.Audience{
    padding : 120px 60px 0 50px;
}

.Audience h1{
    font-family: sans-serif;
    font-weight: 150;   
    padding-bottom: 20px;
}

.Audience h1 span{
       text-decoration: underline 1px; 
}

.Audience h4{
    font-size: 15px;
    font-weight: 60;
    font-family: sans-serif;
    line-height: 25px;
    margin-bottom: 30px;

}

.SearchBtn{
    position: relative;
    width: 300px;

}

.SearchBtn input{
    width: 100%;
    padding: 12px;
    padding-right: 80px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.062);
}



/* .SearchBtn input::placeholder{
  font-size: 20px;
} */

.SearchBtn button{
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.062);
    background-color: rgb(85, 201, 85);
    color: black;
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    padding: 0 15px;
}