
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');







*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter, Arial, sans-serif;
}
body{
    background:#eef0f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:1100px;
    background:#fff;
    border-radius:20px;
    padding:25px 40px;
    box-shadow:0 20px 40px rgba(0,0,0,0.08);
    }
.header_1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
    font-weight:600;
    margin-left: 30px;
}

.navlist{
    margin-right: 250px;
    display:flex;
    gap:25px;
    color:#555;
    font-size:14px;
}

.navlist ul{
    display: flex;
    gap: 10px;
    list-style: none;
}


.navlist li{
    cursor:pointer;
}
.actions{
    display:flex;
    align-items:center;
    gap:15px;
}


.btn{
    padding:8px 16px;
    border:1px solid #ddd;
    border-radius:8px;
    background:#f6f4f4;
    cursor:pointer;
}

.lang{
    font-size:14px;
    padding: 10px;
    border-radius:3px;
    background-color:#ffffffe1;
}

/* HERO */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-left: 30px;
}

.left{
    max-width:480px;
}
.left h1{
    font-size:40px;
    font-weight:600;
    margin-bottom:25px;
}

.left span{
    text-decoration: underline 2px;
}

.left p{
    color:#555;line-height:1.6;
    margin-bottom:20px;
}

.form{
    position: relative;
    display:flex;
    margin-bottom:30px;
}

.form input{
    flex:1;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
}

.form button{
    background:#6fcf97;
    border:none;
    border-radius:8px;
    cursor:pointer;
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    padding: 0 15px;
}

.stats{
    display:flex;
    gap:40px;
    margin-bottom:20px;
    padding:25px 40px;
    box-shadow:0 20px 40px rgba(0,0,0,0.08);

}

.stat h2{
    font-size:28px;
    margin-bottom:5px;
}
.stat p{
    font-size:13px;color:#666;
}

.rating{
    display:flex;
    align-items:center;
    gap:10px;
    color:#555;
    font-size:14px;
}

.rating i{
    color:#000;
}

/* RIGHT ILLUSTRATION */
.right{
    width:280px;
    height:300px;
    border:2px dashed #ddd;
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#aaa;
    margin-right: 60px;
}

/* COOKIE BAR */
.cookie{
    margin-top:30px;
    padding:15px;
    border-top:1px solid #eee;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:14px;
}
.cookie .buttons{
    display:flex;
    gap:10px;
}

.cookie button{
    padding:8px 14px; 
    border-radius:8px;
    border:1px solid #ddd;
    cursor:pointer;
}

.cookie .accept{
    background:#eee;
}

@media(max-width:900px){
    .hero{flex-direction:column;gap:30px;text-align:center;}
    .right{width:100%;
    }
}